<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<span><a href=""><img src="{% static 'logo.png' %}" alt="Logo" width="30%" height="30%"></a></span>
{#<div>#}
    <ul class="nav">
        <li class="nav"><a href="">app01</a> </li>
        <li class="nav"><a href="">app01</a> </li>
        <li class="nav"><a href="">app01</a> </li>
        <li class="nav"><a href="">app01</a> </li>
        <li class="nav"><a href="">app01</a> </li>
        <li class="nav"><a href="">app01</a> </li>
    </ul>
{#</div>#}

<div>
    {% block content %}{% endblock %}
</div>

</body>
</html>