<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="{% static "node_modules/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <script src="{% static "node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
{#    <script src="https://unpkg.com/cropperjs@next"></script>#}
</head>
<body>
{% load static %}
<div class="navbar-container">
    <div class="logo">
        <a href="/"><img src="{% static 'logo-500.png' %}" alt="Logo" class="logo"></a>
    </div>
    <div class="nav-links">
        <ul class="nav-links">
            <li class="nav-links"><a href="" class="nav-links">app01</a> </li>
            <li class="nav-links"><a href="crawler" class="nav-links">表格</a> </li>
            <li class="nav-links"><a href="" class="nav-links">app01</a> </li>
            <li class="nav-links"><a href="" class="nav-links">app01</a> </li>
            <li class="nav-links"><a href="" class="nav-links">app01</a> </li>
            <li class="nav-links"><a href="" class="nav-links">app01</a> </li>
        </ul>
    </div>
    {% if user.is_authenticated %}
{#        <div class="registration">#}
{#            <ul class="registration">#}
{#                <li class="registration">#}
{#                    <a href="logout"><div class="button" id="logout"><span class="button-text">退出登录</span></div></a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
        <div class="profile">
            <div class="avatar">
                <a href="/accounts/profile"><img src="{{ user.profile.Avatar.url }}" class="rounded-circle" style="height: 50px;width: 50px;"></a>
            </div>
            <div class="username">
                <span>{{ user.username }}</span>
                <div class="registration">
                    <ul class="registration">
                        <li>
                            <a id="logout" href="logout/"><div class="button" id="logout"><span class="button-text">退出</span></div></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% else %}
    <div class="registration">
        <ul class="registration">
            <li class="registration">
                <a id="login" href="/accounts/login/"><div class="button" id="login"><span class="button-text">登录</span></div></a>
            </li>
            <li class="registration">
                <a id="register" href="accounts/signup/"><div class="button" id="register"><span class="button-text">注册</span></div></a>
            </li>
        </ul>
    </div>
    {% endif %}
</div>

<div>
    {% block content %}{% endblock %}
</div>

</body>
<script src="{% static 'script.js' %}"></script>
</html>